.homepageImg {
    max-width: 570px;
}

.abotusImg {
    max-width: 470px;
}

.debtImg {
    max-width: 570px;
}

.culbImg {
    max-width: 550px;
}

.ementoringImg {
    max-width: 570px;
    transform: translateX(30px);
}

.wealthImg {
    max-width: 550px;
    transform: translateX(20px);
}

.playerImg {
    max-width: 550px;
    transform: translateX(20px);
}

.faqImg {
    max-width: 460px;
    transform: translateX(70px);
}

.contactImg {
    max-width: 560px;
    transform: translateX(80px);
}

.hero-inlineBtn {
    border: 2px solid var(--clr-yellow);
    border-radius: 6px;
    padding: 10px 9px;
}

.hero-outlineBtn {
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px 8px;
}

.hero-inlineBtn:hover {
    background-color: transparent;
    color: white !important;
}

.hero-outlineBtn:hover {
    background-color: white !important;
    color: black !important;
}

@media (min-width:370px) {
    .faqImg {
        max-width: 530px;
        transform: translateX(70px);
    }
}

@media (min-width:387px) {
    .faqImg {
        max-width: 530px;
        transform: translateX(60px);
    }
}

@media (min-width:399.98px) {
    .homepageImg {
        max-width: 750px;
    }

    .abotusImg {
        max-width: 600px;
    }

    .debtImg {
        max-width: 670px;
    }

    .culbImg {
        max-width: 680px;
    }

    .ementoringImg {
        max-width: 770px;
        transform: translateX(50px);
    }

    .wealthImg {
        max-width: 750px;
        transform: translateX(40px);
    }

    .playerImg {
        max-width: 750px;
        transform: translateX(50px);
    }

    .faqImg {
        max-width: 580px;
        transform: translateX(90px);
    }

    .contactImg {
        max-width: 670px;
        transform: translateX(80px);
    }

    .hero-inlineBtn {
        padding: 10px 10px;
    }

    .hero-outlineBtn {
        padding: 10px 10px;
    }
}

@media (min-width:575.98px) {
    .homepageImg {
        max-width: 600px;
    }

    .abotusImg {
        max-width: 400px;
    }

    .culbImg {
        max-width: 730px;
    }

    .ementoringImg {
        max-width: 770px;
        transform: translateX(0px);
    }

    .wealthImg {
        max-width: 600px;
        transform: translateX(0px);
    }

    .playerImg {
        max-width: 650px;
        transform: translateX(0px);
    }

    .faqImg {
        max-width: 400px;
        transform: translateX(0px);
    }
}

@media (min-width:767.98px) {
    .homepageImg {
        max-width: 700px;
    }

    .abotusImg {
        max-width: 490px;
    }

    .culbImg {
        max-width: 800px;
    }

    .ementoringImg {
        max-width: 800px;
    }

    .wealthImg {
        max-width: 580px;
    }

    .playerImg {
        max-width: 700px;
    }

    .faqImg {
        max-width: 470px;
    }

    .contactImg {
        max-width: 740px;
        transform: translateX(0px);
    }

    .hero-inlineBtn,
    .hero-outlineBtn {
        padding: 12px;
    }
}

@media (min-width:991.98px) {
    .homepageImg {
        max-width: 830px;
    }

    .abotusImg {
        max-width: 650px;
    }

    .debtImg {
        max-width: 950px;
    }

    .culbImg {
        max-width: 1000px;
    }

    .ementoringImg {
        max-width: 900px;
    }

    .wealthImg {
        max-width: 880px;
    }

    .playerImg {
        max-width: 800px;
    }

    .faqImg {
        max-width: 570px;
    }

    .contactImg {
        max-width: 760px;
    }

    .hero-inlineBtn,
    .hero-outlineBtn {
        padding: 15px 14px;
    }
}

@media (min-width:1099.98px) {
    .homepageImg {
        max-width: 870px;
    }

    .abotusImg {
        max-width: 700px;
    }

    .debtImg {
        max-width: 1000px;
    }

    .culbImg {
        max-width: 1100px;
    }

    .ementoringImg {
        max-width: 950px;
    }

    .wealthImg {
        max-width: 950px;
    }

    .playerImg {
        max-width: 850px;
    }

    .faqImg {
        max-width: 600px;
    }

    .contactImg {
        max-width: 820px;
    }
}

@media (min-width:1199.98px) {
    .homepageImg {
        max-width: 900px;
    }

    .abotusImg {
        max-width: 900px;
    }

    .ementoringImg {
        max-width: 1100px;
    }

    .wealthImg {
        max-width: 1020px;
    }

    .playerImg {
        max-width: 1020px;
    }

    .faqImg {
        max-width: 700px;
    }

    .contactImg {
        max-width: 920px;
    }
}

@media (min-width:1299.98px) {
    .homepageImg {
        max-width: 950px;
    }

    .abotusImg {
        max-width: 970px;
    }

    .debtImg {
        max-width: 1100px;
    }

    .culbImg {
        max-width: 1170px;
    }

    .ementoringImg {
        max-width: 1200px;
    }

    .wealthImg {
        max-width: 1100px;
    }

    .playerImg {
        max-width: 1100px;
    }

    .faqImg {
        max-width: 770px;
    }

    .contactImg {
        max-width: 1000px;
    }
}

@media (min-width:1399.98px) {
    .homepageImg {
        max-width: 1050px;
    }

    .abotusImg {
        max-width: 1040px;
    }

    .debtImg {
        max-width: 1215px;
    }

    .culbImg {
        max-width: 1250px;
    }

    .ementoringImg {
        max-width: 1250px;
    }

    .wealthImg {
        max-width: 1140px;
    }

    .playerImg {
        max-width: 1140px;
    }

    .faqImg {
        max-width: 840px;
    }

    .contactImg {
        max-width: 1080px;
    }
}

@media (min-width:1600px) {
    .homepageImg {
        max-width: 1120px;
    }
}

@media (min-width:1900px) {
    .homepageImg {
        max-width: 1450px !important;
    }

    .abotusImg {
        max-width: 1340px;
    }

    .debtImg {
        max-width: 1500px;
    }

    .culbImg {
        max-width: 1550px;
    }

    .ementoringImg {
        max-width: 1550px;
        height: 70%;
    }

    .wealthImg {
        max-width: 1440px;
        height: 80%;
    }

    .playerImg {
        max-width: 1440px;
    }

    .faqImg {
        max-width: 940px;
    }

    .contactImg {
        max-width: 1380px;
    }
}