/* FORM SUBMISSION CSS*/
.form-box-shadow {
    border-radius: 8px;
    background: #FFF;
    -webkit-box-shadow: 0px 11px 37px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 11px 37px 0px rgba(0, 0, 0, 0.10);
    max-width: 1040px;
}

.form_input {
    border-radius: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.14) !important;
    background: #FCFCFC;
    color: black;
    padding: 10px 8px 10px 10px;
    outline: none;
}

.option {
    background-color: white;
}

.option:hover {
    background-color: var(--clr-yellow) !important;
}

.form_input:hover {
    border: 1px solid var(--clr-yellow) !important;
}

input[type="checkbox"] {
    height: 16px !important;
    min-width: 16px !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--clr-gray);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--clr-gray);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--clr-gray);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--clr-gray);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--clr-gray);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--clr-gray);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--clr-gray);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--clr-gray);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--clr-gray);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--clr-gray);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--clr-gray);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--clr-gray);
}

input::placeholder,
textarea::placeholder {
    color: var(--clr-gray);
}

.textarea-resize {
    resize: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: #fcfcfc !important;
    -webkit-text-fill-color: black !important;
    background-color: #FCFCFC !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.form-opacity:hover {
    opacity: 0.7;
    color: red;
}

/* FORM SUBMISSION CSS END */
/* COMMON CLASSES */
.bg_img_property {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* FOOTER CSS START */
.footer_bg_image {
    background: url('./assets/images/webp/Footer_bg_img.webp');
}

.footer_logo {
    max-width: 237px;
    height: 47px;
}

.footer_icons {
    height: 38px;
    width: 38px;
    background-color: var(--clr-yellow);
    border-radius: 50%;
    border: 2px transparent;
}

.footer_icons:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

/* DROPDOWN CSS START */
.custom_dropdown:hover {
    background-color: var(--clr-gray) !important;
    cursor: pointer;
}

.dropdown-open {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* DROPDOWN CSS END */

/* BACK TO TOP CSS START*/
.back_to_top {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.back_to_top_spacing {
    margin-bottom: 32px;
}

.back_to_top:hover {
    -webkit-box-shadow: 1px 2px 10px 2px var(--clr-gray) !important;
    box-shadow: 1px 2px 10px 2px var(--clr-gray) !important;
}

/* BACK TO TOP CSS END */

/* DREAM PLAYERS CSS START*/
.common_cards_shadow {
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    max-width: 360px;
}

.common_cards_shadow:hover {
    -webkit-box-shadow: 0px 0px 33px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 23px -4px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.common_cards_shadow:hover img {
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
}

/* DREAM PLAYER CSS END */
/* COMMON TEAM CSS START*/
.clr_blue {
    color: #0075F2;
}

.common_card_w {
    max-width: 620px;
}

.common_team_card_shadow {
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.common_team_card_shadow:hover {
    -webkit-box-shadow: 0px 0px 33px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 33px -4px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.common_team_border {
    border-radius: 142px;
    border: 3px solid rgba(0, 117, 242, 0.38);
    background: lightgray 50% / cover no-repeat;
}

.common_team_card_shadow:hover .common_team_border {
    border: 3px solid rgba(66, 158, 166, 0.38);
    background: lightgray 50% / contain no-repeat, #D9D9D9;
}

.common_team_card_shadow:hover .clr_blue {
    color: #429EA6;
}

.common_team_image {
    max-width: 50px;
}

.common_team_paragraph {
    max-width: 730px;
}

/* COMMON TEAM CSS END */

/* PERFORMANCE CSS START*/
.bg_clr_performance {
    background-color: #F9FBE9;
}

.performance_image {
    max-width: 230px;
}

.performance_icons_mobile_screen {
    max-width: 42px !important;
    height: 47px;
}

.chat_box {
    top: 30px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* PERFORMANCE TEAM CSS END */
/*PRELOADER  CSS START*/
.loading {
    z-index: 2000;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background: #D9E76C;
    position: fixed;
}

.preloader_img {
    width: 250px;
    height: 50px;
    -webkit-animation: scaleAnimation 2s infinite;
    animation: scaleAnimation 2s infinite;
}

/* PRELOADER CSS END */

/* MEDIA QUARRY START */
@media (min-width:576px) {

    /* COMMON CARDS */
    .common_cards_shadow {
        max-width: 100%;
    }

    /* PERFORMANCE SECTION */
    .performance_image {
        max-width: 280px;
    }

    /* FORM SUBMISSIONS */
    .form_input {
        padding: 16px 8px 16px 13px;
    }

    /* COMMON TEAM */
    .common_team_image {
        max-width: 90px;
    }

    /* PRELOADER */
    .preloader_img {
        width: 350px;
        height: 65px;
    }
}

@media (min-width:768px) {

    /* COMMON TEAM CSS */
    .common_team_border {
        border: 6px solid rgba(0, 117, 242, 0.38);
    }

    .common_team_image {
        max-width: 100px;
    }

    .common_team_card_shadow:hover .common_team_border {
        border: 6px solid rgba(66, 158, 166, 0.38);
    }

    /* FORM SUBMISSIONS */
    .form_heading_setup {
        max-width: 810px;
    }

    .footer_para_width {
        max-width: 453px;
    }

    .chat_box {
        width: 60px;
        height: 60px;
    }

    .preloader_img {
        width: 400px;
        height: 75px;
    }
}

@media (min-width:992px) {
    .common_team_para_width {
        max-width: 535px;
    }

    .common_team_image {
        max-width: 142px;
    }

    .form_input {
        padding: 20px 8px 18px 13px;
    }

    .common_card_w {
        max-width: 100%;
    }

    .chat_box {
        top: 74px;
        right: 25px;
        width: 81px;
        height: 81px;
    }

    /* PERFORMANCE MEDIA QUARRY */
    .performance_image {
        max-width: 320px;
    }

    .performance_text_w {
        max-width: 240px;
    }

    .performance_text_w_para {
        max-width: 320px;
    }

    .performance_text_width {
        max-width: 270px;
    }
}

@media (min-width:1200px) {
    .performance_image {
        max-width: 380px;
    }
}

@-webkit-keyframes scaleAnimation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleAnimation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}