.lh-42 {
    line-height: 42px;
}

.form-box-shadow {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 11px 37px 0px rgba(0, 0, 0, 0.10);
}

.input-border {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background: #FCFCFC;
}

.input-padding {
    padding: 20px 0 18px 13px;
    outline: none;
}

.summit-btn {
    border-radius: 6px;
    padding: 17px 31px;
}

.footer-bg-img {
    background-image: url("./assets/images/webp/Footer_bg_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-logo-w {
    max-width: 237px;
    height: 47px;
}

.max-w-453 {
    max-width: 453px;
}