.form-box-shadow {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 11px 37px 0px rgba(0, 0, 0, 0.10);
    max-width: 1040px;
}

.input-border {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background: #FCFCFC;
}

.input-padding {
    padding: 20px 8px 18px 13px;
    outline: none;
}

.footer-bg-img {
    background-image: url("./assets/images/webp/Footer_bg_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-logo-w {
    max-width: 237px;
    height: 47px;
}

.max-w-453 {
    max-width: 453px;
}

.icons-bg {
    height: 38px;
    width: 38px;
    background-color: var(--clr-yellow);
    border-radius: 50%;
    border: 2px transparent;
}


.icons-bg:hover {
    transform: translateY(-4px);
    background-color: white;
    border: 2px solid var(--clr-yellow);
}

.textarea-resize {
    resize: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--clr-gray);
    transition: background-color 5000s ease-in-out 0s;
}

/* dropdown css */
.custom_dropdown:hover {
    background-color: var(--clr-gray) !important;
    cursor: pointer;
}

.dropdown-open {
    rotate: 180deg;
}

/* back to top */
.transform_rotate {
    transform: rotate(-90deg);
}